//  Microsoft Developer Studio generated resource script.
#include "resource.h"

#if _WIN32_WCE >= 420
HI_RES_AWARE   CEUX   {1}
#endif


ID_ICON             ICON                "ipedia.ico"
IDB_TOOLBAR         BITMAP  DISCARDABLE "toolbar.bmp"
/*IDB_SEARCH_BTN_UP   BITMAP  DISCARDABLE "searchBtnUp.bmp"
IDB_SEARCH_BTN_DOWN BITMAP  DISCARDABLE "searchBtnDown.bmp"
IDB_SEARCH_BTN_DISABLED BITMAP  DISCARDABLE "searchBtnDis.bmp"*/

#ifdef WIN32_PLATFORM_PSPC

IDR_MAIN_MENUBAR RCDATA
BEGIN
    IDR_MENU_MAIN,
    4,

    I_IMAGENONE, ID_MENU_BTN, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    IDS_MAIN_MENU_BTN, 0, 0,

    I_IMAGENONE, ID_OPTIONS_MENU_BTN, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    IDS_OPTIONS_MENU_BTN, 0, 1,

    /*0, ID_SEARCH_BTN2, TBSTATE_ENABLED, 
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    0, 0, NOMENU,*/

    0, ID_PREV_BTN, TBSTATE_ENABLED, 
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    0, 0, NOMENU,

    1, ID_NEXT_BTN, TBSTATE_ENABLED, 
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    0, 0, NOMENU,
END

#else

IDR_MAIN_MENUBAR RCDATA
BEGIN
    IDR_MENU_MAIN,
    2,

    I_IMAGENONE, ID_SEARCH, TBSTATE_ENABLED, 
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_SEARCH, 0, NOMENU,

    I_IMAGENONE, ID_MENU_BTN, TBSTATE_ENABLED, 
    TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
    IDS_MENU_BTN, 0, 0,
END

#endif

#ifdef WIN32_PLATFORM_PSPC
//pocket pc
IDR_MENU_MAIN MENU DISCARDABLE 
BEGIN
    POPUP "&Dummy"
    BEGIN
        MENUITEM "Search"                   ID_SEARCH
        MENUITEM "Extended search",         IDM_EXT_SEARCH          
        MENUITEM "Ext. search results",     IDM_MENU_RESULTS
        MENUITEM "Linked articles",         IDM_MENU_HYPERS
        MENUITEM SEPARATOR
        MENUITEM "Random article",          IDM_MENU_RANDOM
        MENUITEM SEPARATOR 
        MENUITEM "Copy to clipboard",       IDM_MENU_CLIPBOARD
        MENUITEM SEPARATOR 
        MENUITEM "Change language",         IDM_MENU_CHANGE_DATABASE
#ifdef DEBUG
        MENUITEM SEPARATOR
        MENUITEM "Quit",                    IDOK
        MENUITEM "Stress mode",             IDM_MENU_STRESS_MODE
#endif
    END
    POPUP "&Dummy"
    BEGIN
        MENUITEM "Register",                IDM_MENU_REGISTER
        MENUITEM SEPARATOR
        MENUITEM "Tutorial",                IDM_MENU_TUTORIAL
        MENUITEM "ArsLexis home",           IDM_MENU_HOME
        MENUITEM "Check updates",           IDM_MENU_UPDATES
        MENUITEM "About",                   IDM_MENU_ABOUT
    END
END

#else
// smartphone
IDR_MENU_MAIN MENU DISCARDABLE 
BEGIN
    POPUP "&Dummy"
    BEGIN
        MENUITEM "Linking articles",         IDM_MENU_REVERSE_LINKS
        MENUITEM "Linked articles",         IDM_MENU_HYPERS
        MENUITEM "Extended search",         IDM_EXT_SEARCH          
        MENUITEM "Ext. search results",     IDM_MENU_RESULTS
        MENUITEM "Previous",                IDM_MENU_PREV
        MENUITEM "Next",                    IDM_MENU_NEXT
        MENUITEM "Random article",          IDM_MENU_RANDOM
        MENUITEM "Change language",         IDM_MENU_CHANGE_DATABASE
        //MENUITEM "Copy to clipboard",       IDM_MENU_CLIPBOARD
        MENUITEM "Register",                IDM_MENU_REGISTER
        POPUP "About"
        BEGIN
            MENUITEM "ArsLexis home",       IDM_MENU_HOME
            MENUITEM "Check updates",       IDM_MENU_UPDATES
            MENUITEM "About",               IDM_MENU_ABOUT
        END
#ifdef DEBUG
        MENUITEM "Stress mode",             IDM_MENU_STRESS_MODE
        MENUITEM "Quit",                    IDOK
#endif
    END
END
#endif

IDR_LAST_RESULTS_REFINE_MENUBAR RCDATA
BEGIN
    0,
    2,
    I_IMAGENONE, ID_REFINE, TBSTATE_ENABLED,
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_REFINE, 0, NOMENU,

    I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_CANCEL, 0, NOMENU,
END

IDR_LAST_RESULTS_SEARCH_MENUBAR RCDATA
BEGIN
    0,
    2,
    I_IMAGENONE, ID_SELECT, TBSTATE_ENABLED,
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_SELECT, 0, NOMENU,

    I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_CANCEL, 0, NOMENU,
END

IDR_STRING_LIST_MENUBAR RCDATA
BEGIN
    0,
    2,
    I_IMAGENONE, ID_SELECT, TBSTATE_ENABLED,
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_SELECT, 0, NOMENU,

    I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
    TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
    IDS_CANCEL, 0, NOMENU,
END

IDD_STRING_LIST DIALOG DISCARDABLE  4, 4, 80, 70
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "System"
BEGIN
    LISTBOX IDC_STRING_LIST,0,2,100,88,
        LBS_NOTIFY | LBS_STANDARD | NOT LBS_SORT | 
        WS_TABSTOP | NOT WS_BORDER
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SEARCH		    "Search"
    IDS_SELECT		    "Select"

    IDS_REGISTER		"Register"
    IDS_LATER           "Later"

    IDS_MENU_BTN        "Menu"
    IDS_REFINE          "Refine"
    IDS_CANCEL          "Cancel"
    IDS_PREV_BTN        "Previous"
    IDS_NEXT_BTN        "Next"
    IDS_MAIN_MENU_BTN   "Main"
    IDS_OPTIONS_MENU_BTN "Options"
END

IDD_LAST_RESULTS DIALOG 
DISCARDABLE  4, 4, 80, 70 
STYLE WS_POPUP | WS_VISIBLE
FONT 7, "System"
BEGIN
    
    EDITTEXT IDC_REFINE_EDIT, 2, 1, 97, 10,
        ES_LEFT | WS_BORDER | WS_TABSTOP

    LISTBOX IDC_LAST_RESULTS_LIST ,2,12,97,80,
        LBS_NOTIFY | LBS_STANDARD | NOT LBS_SORT | 
        WS_TABSTOP | NOT WS_BORDER

END

#ifdef WIN32_PLATFORM_PSPC
    IDD_REGISTER DIALOG DISCARDABLE  4, 4, 80, 70
    STYLE WS_POPUP | WS_VISIBLE
    FONT 8, "System"
    BEGIN
        CTEXT "Enter registration code:", IDC_STATIC_REG_CODE, 28, 27, 80, 12
        EDITTEXT IDC_EDIT_REGCODE, 2, 27+12, 134, 12,
            ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
        DEFPUSHBUTTON "Register",IDM_REGISTER, 10, 27+12+18, 50, 12
        PUSHBUTTON    "Later",   IDM_LATER,    78, 27+12+18, 50, 12

#ifdef HANDANGO
        CTEXT "Purchase registration code at http://handango.com/products. Product ID: 34344", IDC_PURCHASE_REG_CODE, 0, 27+12+18+20, 120, 24
#else
        CTEXT "Purchase registration code at http:/www.arslexis.com", IDC_PURCHASE_REG_CODE, 10, 27+12+18+20, 120, 24
#endif

    END
#else  // WIN32_PLATFORM_PSPC
    IDR_REGISTER_MENUBAR RCDATA
    BEGIN
        0,
        2,
        I_IMAGENONE, IDM_REGISTER, TBSTATE_ENABLED,
        TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
        IDS_REGISTER, 0, NOMENU,

        I_IMAGENONE, IDM_LATER, TBSTATE_ENABLED,
        TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
        IDS_LATER, 0, NOMENU,
    END

    IDD_REGISTER DIALOG DISCARDABLE  4, 4, 80, 70
    STYLE WS_POPUP | WS_VISIBLE
    FONT 8, "System"
    BEGIN
    CTEXT "Enter registration code:", IDC_STATIC, 0, 25, 100, 10
    EDITTEXT IDC_EDIT_REGCODE, 2, 25+12, 96, 10,
        ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL

#ifdef HANDANGO
    CTEXT "Purchase registration code at http://handango.com/products. Product ID: 34344",IDC_STATIC, 0, 25+12+14, 100, 20
#else
    CTEXT "Purchase registration code at http:/www.arslexis.com",IDC_STATIC, 0, 25+12+14, 100, 20
#endif
    END
#endif

IDD_HYPERLINKS DIALOG DISCARDABLE  4, 4, 80, 70
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "System"
BEGIN
    LISTBOX IDC_LIST_HYPERLINKS,0,2,100,88,
        LBS_NOTIFY | LBS_STANDARD | NOT LBS_SORT | 
        WS_TABSTOP | NOT WS_BORDER
END

