//Microsoft Developer Studio generated resource script.
//
#include "resource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAIN_MENUBAR RCDATA
BEGIN

	IDR_MENU_MAIN,
    #ifdef PPC
    4,
	I_IMAGENONE, ID_PREV_BTN, TBSTATE_ENABLED, 
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_PREV_BTN, 0, NOMENU,
    
	I_IMAGENONE, ID_NEXT_BTN, TBSTATE_ENABLED, 
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_NEXT_BTN, 0, NOMENU,
    #else
    2,
    #endif
    
    I_IMAGENONE, ID_SEARCH, TBSTATE_ENABLED, 
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_SEARCH, 0, NOMENU,
    

    I_IMAGENONE, ID_MENU_BTN, TBSTATE_ENABLED, 
	TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE,
	IDS_MENU_BTN, 0, 0,

END

IDR_MENU_MAIN MENU DISCARDABLE 
BEGIN
    POPUP "&Dummy"
    BEGIN
        MENUITEM "Hyperlinks",              IDM_MENU_HYPERS
        MENUITEM "Extended search",         IDM_EXT_SEARCH          
        MENUITEM "Ext. search results",     IDM_MENU_RESULTS
#ifndef PPC
        MENUITEM "Previous",                IDM_MENU_PREV
        MENUITEM "Next",                    IDM_MENU_NEXT
#endif
        MENUITEM "Random article",          IDM_MENU_RANDOM
        MENUITEM "Copy to clipboard",       IDM_MENU_CLIPBOARD
        MENUITEM "Register",                IDM_MENU_REGISTER
        POPUP "About"
	    BEGIN
    		MENUITEM "ArsLexis home",       IDM_MENU_HOME
		    MENUITEM "Check updates",       IDM_MENU_UPDATES
		    MENUITEM "About",            	IDM_MENU_ABOUT
	    END
        MENUITEM "Stress mode",             IDM_MENU_STRESS_MODE
        MENUITEM "Quit",                    IDOK
    END
END

IDR_LAST_RESULTS_REFINE_MENUBAR RCDATA
BEGIN
	0,
	2,
	I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_CANCEL, 0, NOMENU,

	I_IMAGENONE, ID_REFINE, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_REFINE, 0, NOMENU,
END

IDR_LAST_RESULTS_SEARCH_MENUBAR RCDATA
BEGIN
	0,
	2,
	I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_CANCEL, 0, NOMENU,

	I_IMAGENONE, ID_SELECT, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_SELECT, 0, NOMENU,
END

IDR_REGISTER_MENUBAR RCDATA
BEGIN
	0,
	2,
	I_IMAGENONE, IDM_REGISTER, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_REGISTER, 0, NOMENU,

	I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_LATER, 0, NOMENU,
END

IDR_HYPERLINKS_MENUBAR RCDATA
BEGIN
	0,
	2,
	I_IMAGENONE, ID_SELECT, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_SELECT, 0, NOMENU,

	I_IMAGENONE, ID_CANCEL, TBSTATE_ENABLED,
	TBSTYLE_BUTTON | TBSTYLE_AUTOSIZE,
	IDS_CANCEL, 0, NOMENU,
END

STRINGTABLE DISCARDABLE
BEGIN
    #ifdef PPC
	IDS_SEARCH		    "Search"
    #else
    IDS_SEARCH		    "Go"
    #endif
    IDS_SELECT		    "Select"
    IDS_REGISTER        "Register"
    IDS_MENU_BTN        "Menu"
	IDS_REFINE          "Refine"
    IDS_LATER           "Later"
	IDS_CANCEL          "Cancel"
    IDS_PREV_BTN        "Previous"
    IDS_NEXT_BTN        "Next"
END

IDD_LAST_RESULTS DIALOG 
DISCARDABLE  4, 4, 80, 70 
STYLE WS_POPUP | WS_VISIBLE
FONT 7, "System"
BEGIN
    
    EDITTEXT IDC_REFINE_EDIT, 2, 1, 97, 10,
        ES_LEFT | WS_BORDER | WS_TABSTOP

    LISTBOX IDC_LAST_RESULTS_LIST ,2,12,97,80,
        LBS_NOTIFY | LBS_STANDARD | NOT LBS_SORT | 
		WS_TABSTOP | NOT WS_BORDER

END

IDD_REGISTER DIALOG DISCARDABLE  4, 4, 80, 70
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "System"
BEGIN
    CTEXT "Enter registration code:",IDC_STATIC_REG_CODE, 0, 27, 100, 10
    EDITTEXT IDC_EDIT_REGCODE, 2, 37, 96, 10,
        ES_LEFT | WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
END

IDD_HYPERLINKS DIALOG DISCARDABLE  4, 4, 80, 70
STYLE WS_POPUP | WS_VISIBLE
FONT 8, "System"
BEGIN
    LISTBOX IDC_LIST_HYPERLINKS,0,2,100,88,
		    LBS_NOTIFY | LBS_STANDARD | NOT LBS_SORT | 
		    WS_TABSTOP | NOT WS_BORDER
END

